// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

$base-color: #C3C3C3;

.epic-btn {
  background-color: $base-color;
  background: linear-gradient(lighten( $base-color, 50% ), $base-color, darken($base-color,15%));
  margin: 20px 10px 50px 10px;
  padding: 18px;
  font-weight: bold;
  color: darken( $base-color, 45% );
  font-family: arial;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  height: 48px;
  box-shadow: 0 0 1px 1px darken( $base-color, 10% ), 0 0 0 6px lighten($base-color, 5%), 0 0 0 8px lighten($base-color, 50%), 0 0 0 9px darken( $base-color, 15% );

  &::before, &::after{
   content: " ★ ";
   color: darken( $base-color, 15% );
   font-size: 30px;
  }

  &:hover {
    color: red;
    transition: color 0.4s ease;
    text-decoration: none;
  }
}
